body {
    background-color: gray;
    color: aliceblue;
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    margin-top: 50px;
}

h1 {
    border-bottom: solid;
    border-color: aliceblue;
    border-width: 3px;
    margin-top: 100px;
}

.form {
    margin-top: 50px;
<<<<<<< Updated upstream
}
=======
}
>>>>>>> Stashed changes
